.imglogo{
    width: 3em;
    height: 3em;
}
.menu{
   padding-left: 25rem !important;
}
.dropdown-content {
    display: none;
    position: absolute;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.menu2{
    padding-left: 8rem !important;
 }